// Place all the styles related to the api::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-item-container {
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e6e6e6;
}

.review-user-container {
  position: relative;
  min-height: 48px;
  max-width: 100%;
  overflow: hidden;
}

.review-user-photo {
  border-radius: 50%;
  position: relative;
  height: 48px;
  width: 48px;
  border-radius: 48px;
}

.review-user-name {
  color: #414141;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  letter-spacing: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  position: absolute;
  top: 0;
  left: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-user-rating-container {
  position: absolute;
  display: flex;
  top: 28px;
  left: 64px;
}

.review-user-date {
  font-size: 14px;
  color: #767676;
  position: relative;
  top: -3px;
  margin-left: 8px;
}

.review-comment-container {
  font-size: 16px;
  margin-bottom: 16px;
}

.review-comment {
  white-space: pre-wrap;
  line-height: 1.5;
  font-size: 14px;
  margin-top: 17px;
}

.review-create-button {
  border-radius: 8px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  width: 188px !important;
  height: 40px !important;
  text-align: center !important;
  border: none !important;
  background-color: #428a13 !important;
  color: #ffffff !important;
  line-height: 16px !important;
  padding: 5px !important;
  min-width: 110px !important;
  cursor: pointer !important;
}

.review-create-button:hover {
  background-color: #69a041;
}

.review-create-container {
  margin: 0px 0 29px;
  padding-bottom: 2px;
  border-bottom: 1px solid #e6e6e6;
  height: 49px;
  display: flex;
  justify-content: center;
}

.create-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background-color: rgba(0,0,0,.4);
  text-align: left;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-review-form-container {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.16);
  width: 560px;
  height: 583px;
  cursor: auto;
  display: flex;
  flex-direction: column;
}

.create-close-button-container {
  padding: 26px 32px 0;
}

.create-form-title-container {
  padding: 16px 32px 24px;
}

.create-close-button {
  border: none;
  color: #767676;
  background: #fff;
  font-size: 16px;
  padding: 0;
  margin-left: -5px;
  outline: none;
}

.create-form-title {
  font-size: 32px;
  font-weight: 700;
  color: #414141;
  line-height: 1.13;
  letter-spacing: -.3px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 72px;
}

.create-form-steps {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #5a5a5a;
  margin-top: 9px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.create-form-rating-comment-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.create-form-rating-comment-container {
  padding: 0 0 32px;
}

.create-form-comment {
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  width: 93%;
  height: 220px;
  font-size: 16px;
  padding: 12px 16px;
  line-height: 1.5;
  color: #414141;
  min-height: 113px;
  font-family: proxima-nova, sans-serif;
}

.create-form-rating-container {
  margin: 12px -5px 24px;
}

textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
}

.create-form-button-container {
  padding: 24px 32px 32px;
  text-align: right;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}

.create-form-next {
  width: 168px;
  margin: 0;
  height: 40px;
  padding-bottom: 3px;
  cursor: pointer;
  text-align: center;
  background-color: #428a13;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-form-next:disabled {
  opacity: 0.3;
}

.create-form-next:hover {
  background-color: #69a041;
}

.create-form-act-condition-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.create-form-act-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 24px;
  margin: 17px 32px 0;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.form-activity-container {
  font-size: 17px;
  font-weight: 700;
  color: #414141;
  width: 60%;
}

.create-form-activity-selectors {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 24px;
  margin: 0 32px;
  justify-content: space-between;
}

.review-index {
  padding-top: 3px
}

.selector-root {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.date-select-container {
  border: 1px solid #e6e6e6;
  font-family: Proxima Nova,Arial,sans-serif!important;
  border-radius: 8px;
  padding: 7px 7px 7px 15px;
  margin: 0;
  color: #414141;
  background: #fff;
  width: 100%;
}

.date-select-input-box {
  color: rgba(0, 0, 0, 0.38);
  cursor: default;
  position: relative;
  display: inline-flex;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: Proxima Nova, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
  width: 100%;
}

#date-select {
  color: #414141;
  font-family: Proxima Nova,Arial,sans-serif;
  text-overflow: ellipsis;
  cursor: pointer;
  font: inherit;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
}

#activity-select {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 14px 42px 14px 15px;
  max-width: 160px;
  width: 160px;
  font-family: Proxima Nova,Arial,sans-serif;
}

.review-conditions-container {
  padding: 0 32px;
  margin: 25px 0;
}

.review-conditions-title {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #414141;
}

.review-conditions-checkbox-container {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0 0;
  margin: auto 0;
}

.checkbox-container {
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: block;
  box-sizing: border-box;
  padding: 0;
  border: 0 none;
  margin: 0;
}

.checkbox-container label {
  font-size: 14px;
  padding: 7px 12px;
  border: 1px solid #e6e6e6;
  color: #414141;
  border-radius: 8px;
  font-weight: 400;
  cursor: pointer;
  background: #fff;
  margin-bottom: 0;
}

.checkbox-container .checkbox-input:checked+label {
  border: 2px solid #428a13;
  padding: 6px 11px;
  background-color: rgba(66,138,19,.04);
  color: #428a13;
}

.create-form-post {
  width: 168px;
  margin: 0;
  height: 40px;
  padding-bottom: 3px;
  cursor: pointer;
  text-align: center;
  background-color: #428a13;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  font-size: 16px;
  color: #428a13;
  font-weight: 700;
  width: 168px;
  border: none;
  outline: none;
  padding: 10px 20px;
  height: 100%;
  background: transparent;
  cursor: pointer;
}

.review-user-tag-container {
  display: flex;
  flex-flow: row wrap;
  padding-top: 8px;
  padding-bottom: 12px;
}

.review-user-tag {
  padding: 3px 13px;
  border-radius: 6px;
  border: 1px solid #428a13;
  background-color: #fff;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #428a13;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 4px 8px 0 0;
}

.edit-delete-container {
  margin-top: 8px;
  display: flex;
  align-items: center;
}


.review-delete-button {
  padding-left: 0;
  font-size: 14px;
  padding: 0 12px;
  border: none;
  background: none;
  color: #428a13;
  cursor: pointer;
}

.review-edit-button {
  border: none;
  border-left: 1px solid !important;
  font-size: 14px;
  padding: 0 12px;
  background: none;
  color: #428a13;
  cursor: pointer;
}

#hide-file {
  display: none;
}

.upload-form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.upload-button {
  border-radius: 8px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  width: 188px !important;
  height: 30px !important;
  text-align: center !important;
  border: none !important;
  background-color: #428a13 !important;
  color: #ffffff !important;
  line-height: 31px !important;
  padding: 5px !important;
  min-width: 110px !important;
  cursor: pointer !important;
}