
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset end */

header {
  display: flex;
  justify-content: center;
}

body { 
  font-family: proxima-nova, sans-serif;

  font-weight: 100;

  font-style: normal;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 60px; 
  border-bottom: 1px solid;
  border-color: #dfdbdb;
 }

 .fas.fa-mountain {
  font-size: 30px;
 }

.nav-button {
  display:flex;
  width: 33.33%;
  justify-content: flex-end;
}

.session-button {
  align-items: center;
  appearance: button;
  background-color: #219ad8;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 90%;
  line-height: 1.15;
  margin: 5px;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

.session-button:active {
  background-color: #006AE8;
}

.session-button:hover {
  background-color: #1C84FF;
}

.session-button2 {
  align-items: center;
  appearance: button;
  background-color: white;
  border-radius: 8px;
  border-style: solid;
  border: solid 2px;
  border-color: #219ad8;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #219ad8;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 90%;
  line-height: 1.15;
  margin: 5px;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

.session-button2:active {
  background-color: #006AE8;
}

.session-button2:hover {
  background-color: #1C84FF;
}

.nav-explore {
  width: 33.33%;
  font-size: 14px;
  font-weight: 700;
  color: #414141;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 33.33%;
  justify-content: center;
}

.logo-title {
  font-size: 28px;
  text-decoration: none;
}

.session-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 22%;
  padding: 30px;
  background-color: white;
  border: solid 1px white;
  border-radius: 9px;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.session-input {
  height: 40px;
  margin: 10px 0px 10px 0px;
  border: solid 1px #b2aea7;
  padding-left: 10px;
  border-radius: 5px;

}

.session-submit-button {
  height: 40px;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  background-color: #428a13;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.session-text {
  margin: 10px 0px 10px 0px;
}

.session-route-link {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.background-div {
  background-image: url(https://cdn-assets.alltrails.com/assets/hero-images/Signup-Hero-2-Large-1550x885-9ef74e54a6dd112d691098c9479aee500504c1c491f1fc8f0c89509db863dc14.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.form-padding {
  padding-top: 140px;
}

/* root page */

.bg-slides {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 540px;
  background: rgba(184, 184, 184, 0.7) url(https://cdn-assets.alltrails.com/assets/hero-images/hero-logged-out-4-w2800-8101fd3fe5602c8673f357905e28daddad847cbcc9e9f5ba912ed0916ffc64be.jpg);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position-y: center !important;
  background-blend-mode: darken !important;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  font-weight: 550;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: white;
  margin-top: -49px;
}

.search-bar {
  width: 545px;
  height: 65px;
  border-radius: 32px;
  margin-top: 25px;
  padding-left: 32px;
}

.demo-container {
  display:flex;
  align-self: center;
  margin-top: 40px;
}

.search-form {
  display: flex;
}

.search-button {
  margin-left: -46px;
  margin-top: 43px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background-color: #428a13;
  transition: background-color .2s ease-in-out;
}

.trail-cards {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.module-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 540px;
  background: url(https://cdn-assets.alltrails.com/assets/packs/e3fa1d17f1690743adf8.jpg);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position-y: center !important;
}

/* .module-picture:after {
  background: radial-gradient(circle at 47% 65%,hsla(0,0%,100%,0),rgba(0,0,0,.9) 65%);
  position: absolute;
  content: "";
  width: 100%;
  height: 540px;
  left: 0;
} */

.module-text {
  width: 60%;
  margin-top: 26px;
}

.module-title {
  font-size: 64px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 42px;
  color: white;
}

.module-title2 {
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-size: 64px;
  line-height: 96px;
  color: #f5d24b;
}

.module-description {
  font-size: 13px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #fff;
  margin-top: 7px;
  max-width: 239px;
}

.card-container {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  border:#6f6f6f solid;
  border-radius: 10%;
  width: 290px;
  height: 220px;
  color: #6f6f6f;
}

/* park component */

.park-search-component {
  display:flex;
  width: 100%;
  justify-content: space-between;
  color: #5a5a5a;
  height: 40px;
  padding: 8px 0px 8px 0;
}

.breadcrumb-container {
  display: flex;
  font-size: 12px;
  align-items: center;
}

.park-search-form {
  align-self: center;
  min-height: 28px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  border-radius: 8px;
  height: 36px !important;
  width: 326px;
}

.park-search-bar {
  min-height: 100%;
  width: 100%;
  padding: 0 8px;
  border: 1px solid #e6e6e6;
  border-right: none;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  color: #414141;
}

.park-search-button {
  width: 40px;
  background-image: url('https://cdn-assets.alltrails.com/assets/packs/617af213308a3e90697f.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  cursor: pointer;
  -webkit-appearance: button;
  font-size: inherit;
  line-height: inherit;
  min-height: 100%;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  padding: 0 12px;
  background: #428a13;
  border: 1px solid #428a13;
  border-top-left-radius: 0;
  border-top-right-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: inherit;
}

.breadcrumb-link {
  text-decoration: none;
}

#more {display: none;}

.park-container {
  display: flex;
  flex-direction: column;
  width: 57%;
  margin: auto;
}

.park-trail-photos {
  height: 240px;
}

.checked {
  color: #f5d24b;
}

.park-title-info {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -.3px;
  color: #414141;
  margin-top: 40px;
}

.park-review {
  display: flex;
  font-size: 15px;
  color: #5a5a5a;
  line-height: 1.5;
  padding-bottom: 12px;
}

.park-review-text {
  padding-left: 5px;
  font-weight: 400;
}

.star {
  padding-left: 7px;
}

.park-title {
  padding-bottom: 8px;
}

.park-summary {
  padding-bottom: 24px;
  white-space: pre-wrap;
  font-size: 18px;
  color: #5a5a5a;
  line-height: 1.6;
  font-weight: 400;
}

.park-module {
  max-width: 763px;
}

.park-text-description {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  color: #414141;
  padding-top: 26px;
  padding-bottom: 10px;
}

.park-map-container {
  display: flex;
  flex-direction: column;
}

.park-map {
  border-radius: 8px;
}

.dir-print-share-container {
  display: flex;
  padding: 24px 0 24px 0;
  max-width: 763px
}

.park-dir {
  display: flex;
  width: 33.33%;
  text-decoration: none;
  color: #428a13;
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.park-dir span {
  padding-left: 15px;
}

.dir-button {
  background-image: url("https://cdn-assets.alltrails.com/assets/packs/89c516cd5541a5675db8.svg");
  height: 60px;
  width: 60px;
  align-items: center;
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  outline: none;
  position: relative;
  transition: .2s ease-in-out;
  z-index: 99;
}

.print-button {
  background-image: url("https://cdn-assets.alltrails.com/assets/packs/b8ed29b94f339fcb2113.svg");
  height: 60px;
  width: 60px;
  align-items: center;
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  outline: none;
  position: relative;
  transition: .2s ease-in-out;
  z-index: 99;
}

.share-button {
  background-image: url("https://cdn-assets.alltrails.com/assets/packs/6f22bdb39649fa4975f5.svg");
  height: 60px;
  width: 60px;
  align-items: center;
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  outline: none;
  position: relative;
  transition: .2s ease-in-out;
  z-index: 99;
}

.slide-img {
  height: 220px;
  width: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.slick-next {
  right: 40px !important;
}

.slick-prev {
  left: -1px !important;
  z-index: 999999999;
}

.slick-next:before, .slick-prev:before {
  font-size: 37px !important;
  opacity: 1 !important;

}

#myBtn {
  text-decoration: none;
  color: #428a13;
}